*{
    margin: 0%;
    padding:0%;
}
body{
    background-image: url("bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 600px;
}
.header{
    padding: 20px;
    text-align: center;
    background-color: rgb(238, 11, 11);
}
form{
    padding: 20px 40px;
}
.form-group{
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
label{
    display: block;
    margin-bottom: 5px;
}
.form-group input{
    display:block;
    width: 100%;
    border:3px solid white;
}
.form-group i{
    position: absolute;
    bottom: 10px;
    right: 5px;
    color:black;
    visibility: hidden;
}
.form-group span{
    position: absolute;
    color:red;
    visibility: hidden;
}
.form-group.valid input{
    border-color:green;
}
.form-group.invalid input{
    border-color:red;
}
.form-group.valid i.ion-checkmark-circled{
    visibility: visible;
    color:green;
}
.form-group.invalid i.ion-checkmark-circled{
    visibility: visible;
    color:red;
}
.form-group.invalid span{
    color: red;
    visibility: visible;
}
#submit{
    width: 80px;
    background-color: rgb(238, 11, 11);
    color:white;
    padding: 5px;
    cursor: pointer;
    position: relative;
    left: 220px;
}
